# 
# Copyright 2018 Martin Goellnitz
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#
image: gradle:4.7-jdk8

before_script:
  - mkdir -p tmp
  - export GRADLE_USER_HOME=$(pwd)/tmp/.gradle
  - test ! -f tmp/l4j.tgz && wget -O tmp/l4j.tgz https://netix.dl.sourceforge.net/project/launch4j/launch4j-3/3.11/launch4j-3.11-linux-x64.tgz
  - tar xzf tmp/l4j.tgz
  - export PATH=$(pwd)/launch4j:$PATH
  - echo $PATH

stages:
  - build

JFileSync3:
  stage: build
  script: 
  - gradle --stacktrace --scan clean build
  - unzip build/distributions/JFileSync3.zip
  artifacts:
    paths:
    - JFileSync3/*
    expire_in: 30 days
    name: ${CI_JOB_NAME}-snapshot

cache:
  paths:
  - tmp/.gradle/caches/
  - tmp/.gradle/wrapper/
  - tmp/l4j.tgz
